html,body
{
 height:100%;
}

div.ibgorund
{
 height:90%; width:90%;
 position:fixed;
 left:5%; top:5%;
 background-color:rgba(256,256,256,0.53);
 border-radius: 5px;
 border:2px solid rgba(256,256,256,0.6);
 position:fixed;
}
html,body
{
 height:100%;
}

div.ibgorund
{
 height:90%; width:90%;
 position:fixed;
 left:5%; top:5%;
 background-color:rgba(256,256,256,0.53);
 border-radius: 5px;
 border:2px solid rgba(256,256,256,0.6);
 text-align:center;
}


div.ott
{
 position:absolute;
 width: 100%;
 top: 20%;
}

div.title
{
 font-size:50px;
 margin: auto;
 width: 50%;
}

div.ott
{
 position:absolute;
 width:100%;
 top: 5%;
}

div.title
{
 font-size:50px;
 margin: auto;
}

div.btitle
{
 margin: auto;
 height:80px; width:350px;
 background-image:url(https://vince213.github.io/photo/title.svg);
 background-size:100% 100%;
}

div.lkp
{
 position:absolute;
 bottom:35%;
 width:100%;
}

div.ikp
{
 margin: auto;
 width:30%
}

div.lkp-l
{
 position:absolute;
 bottom:35%;
 left:5%;
 width:90%;
}

div.lkp-r
{
 position:absolute;
 bottom:35%;
 right:-58%;
 width:90%;
}

div.jr
{
 width:90%;
 position:fixed;
 bottom:5px;
 text-align: center;
}

i.jrhid
{
 color:rgba(0,0,0,0.1);
 font-size:10px;
 transition: 0.2s;
}

i.jrhid:hover
{
 color:rgba(0,0,0,1);
}
