:before,:after{z-index:-1;}

.olink
{
 width:600px;
 height:400px
}

@-webkit-keyframes ballm
{
 0%{right:-20px;}
 50%{right:50%;width:20px;height:20px;}
 100% {right:50%;width:375px;height:375px;}
}

@keyframes ballm
{
 0% {right:-20px;}
 50%{right:50%;width:20px;height:20px;}
 100%{right:50%;width:375px;height:375px;}
}

a.slink
{
 position:relative;
 color:black;
 display:block;
 overflow:hidden;
 border:1px solid;
 text-align:center;
 text-decoration:none;
 line-height:60px;
 font-weight:bold;
 max-width:600px;
 width:30%;
}

a:hover{color:white;}

a.slink:before,.slink:after
{
 position:absolute;
 top:50%;
 content:'';
 width:20px;
 height:20px;
 background:rgb(250,180,200);
 border-radius:100%;
}

a.slink:before
{
 left:-20px;
 -webkit-transform:translate(-50%, -50%);
 transform:translate(-50%, -50%);
}

a.slink:hover:before
{
 -webkit-animation:criss-cross-left 1s both;
 animation:criss-cross-left 1s both;
}

a.slink:hover:after 
{ 
 -webkit-animation:ballm 1s both;
 animation:ballm 1s both;
}
