:before,:after{z-index:-1;}

div.olink
{
 width:30%;
 max-width:600px;
}

@-webkit-keyframes ballmr
{
 0%{left:-40px;}
 1%{left:50%;width:20px;height:20px;}
 100% {left:50%;width:400000px;height:400000px;}
}

@keyframes ballmr
{
 0% {left:-40px;}
 1%{left:50%;width:20px;height:20px;}
 100%{left:50%;width:400000px;height:400000px;}
}

a.slink-r
{
 position:absolute;
 color:black;
 display:block;
 overflow:hidden;
 border:1px solid;
 text-align:center;
 text-decoration:none;
 line-height:50px;
 font-weight:bold;
 max-width:600px;
 width:30%;
}

a:hover{color:white;}

a.slink-r:before,a.slink-r:after
{
 position:absolute;
 top:50%;
 content:'';
 width:20px;
 height:20px;
 background:rgb(250,180,200);
 border-radius:100%;
}

a.slink-r:before
{
 left:-20px;
 -webkit-transform:translate(-50%, -50%);
 transform:translate(-50%, -50%);
}

a.slink-r:after
{
 right:-20px;
 -webkit-transform:translate(50%,10000%);
 transform:translate(50%,10000%);
}

a.slink-r:hover:before
{
 -webkit-animation:ballmr 100s both;
 animation:ballmr 100s both;
}

a.slink-r:hover:after 
{ 
 -webkit-animation:ballmr 100s both;
 animation:ballmr 100s both;
}
