div.bgroud
{
 position: absolute;
 left: 0px;
 bottom: 0px;
 height: 100%;
 width: 100%;
 background-color: rgb(100,180,256);
}

div.sth1
{
 position: absolute;
 left: 10%;top: 20%;
 height: 30px;width: 50px;
 background-image:url(https://vince213.github.io/photo/water/wave.svg);
 background-size:100% 100%;
 -webkit-animation: sthm1 1s infinite;
 animation: sthm1 1s linear infinite;
}

div.sth2
{
 position: absolute;
 left: 30%;top: 70%;
 height: 30px;width: 50px;
 background-image:url(https://vince213.github.io/photo/water/wave.svg);
 background-size:100% 100%;
 -webkit-animation: sthm2 1s infinite;
 animation: sthm2 1s linear infinite;
}

div.sth3
{
 position: absolute;
 left: 60%;top: 30%;
 height: 30px;width: 50px;
 background-image:url(https://vince213.github.io/photo/water/wave.svg);
 background-size:100% 100%;
 -webkit-animation: sthm3 1s infinite;
 animation: sthm3 1s linear infinite;
}

div.sth4
{
 position: absolute;
 left: 90%;top: 50%;
 height: 30px;width: 50px;
 background-image:url(https://vince213.github.io/photo/water/sth.svg);
 background-size:100% 100%;
 -webkit-animation: sthm4 1s infinite;
 animation: sthm4 1s linear infinite;
}

@keyframes sthm1
{50% {top:18%}}
@-webkit-keyframes sthm1
{50% {top:22%}}

@keyframes sthm2
{50% {top:72%}}
@-webkit-keyframes sthm2
{50% {top:68%}}

@keyframes sthm3
{50% {top:28%}}
@-webkit-keyframes sthm3
{50% {top:32%}}

@keyframes sthm4
{50% {top:52%}}
@-webkit-keyframes sthm4
{50% {top:48%}}

div.obig
{
 position: absolute;
 top: 15%;
 text-align: center;
 -webkit-animation: duckm 1s infinite;
 animation: obigm 1s linear infinite;
}

img.big
{
 margin: auto;
 width: 30%;
}

@keyframes obigm
{50% {top:18%}}
@-webkit-keyframes obigm
{50% {top:12%}}

div.mth
{
 position: absolute;
 left: 60%;top: 60%;
 height: 100px;width: 120px;
 background-image:url(https://vince213.github.io/photo/water/boat.png);
 background-size:100% 100%;
 -webkit-animation: boatm 1s infinite;
 animation: mthm 1s linear infinite;
}

@keyframes mthm
{50% {top:58%}}
@-webkit-keyframes mthm
{50% {top:62%}}
