html,body
{
 background-color: white;
 height: 100%; width: 100%;
}

div.back_t
{
 position:fixed; top: 0%; left: -10%;
 background: url(.//day.jpg);
 height: 100%; width: 110%;
 background-size: 150% 150%;
 background-repeat: no-repeat;
 background-position: left center;
 text-align: center; color: white;
}

div.btt
{
 font-size:  calc(10vh);
 padding: 20% 0% 60% 0%;
}


div.body
{
 height: 100%; width: 102%;
 background-color: white;
 position: absolute; top: calc(100vh); left: -1%;
}

div.bb_h
{
 height: 20%; width: 102%;
 background-color: rgba(256,256,256,0.5);
 position: absolute; top: 200%; left: -1%;
}

